body {
  background-color: #6D6E70 !important; 
}
.form-signin .form-control {
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  height: auto;
  padding: 10px;
}
.vertical-offset-100 {
  padding-top: 100px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.img-header {
  display: block;
  max-width: 100%;
  height: 100%;
}
.btn-success {
  background-color: #22C976 !important;
}
.btn-success:hover {
  background-color: #1b9d5c !important;
}
.btn-success:active {
  border-color: #22C976 !important;
}
.glyphicon-user, .glyphicon-lock, .glyphicon-log-out, .glyphicon-search{
  color: #22C976;
}
.glyphicon-log-out:hover {
  color: #1b9d5c !important;
}
.header {
  background-color: #fff;
  padding: 10px;
}
.navbar-custom {
  background-color: #4D4D4D !important;
  border-color: #4D4D4D !important;
  padding-left:10px;
  padding-right:10px;
}
.btn-custom {
  background-color: #22C976 !important;
  padding: 6px 12px 6px 12px !important;
  margin-top: 8px;
  border-color: #1b9d5c !important;
}
.btn-menu {
  border: 2px solid #22C976 !important;
  background-color: white !important;
  color: #22C976 !important;  
  padding: 5px 5px 0px 5px !important;
  height: 30px;
}
.btn-custom:hover {
  background-color: #1b9d5c !important;
}
.navbar-custom .navbar-nav>li>a {
    color:#fff !important;
}
.navbar-custom .navbar-nav>.active>a {
  background-color: #4D4D4D !important;
  color: #22C976 !important;
}
.user {
  margin-top: 20px;
}
#sign-out {
  color: #22C976;
}
p, a{
  font-family: 'Roboto', sans-serif;
}
.user a {
  color: #4D4D4D !important;
}
.user a:hover {
  color: #1b9d5c !important;
  text-decoration: none !important;
  background-color: #fff !important;;
}
.author {
  color: #E9694E;
}
.badge {
  background-color: #22C976 !important;
}
.side-bar li {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
}
.side-bar li.active>a {
   background-color: #4d4d4d !important;
}
.side-bar li.active>a p {
  color: #fff !important;
}
.side-bar h4 {
  color: #22C976 !important;
}
.side-bar p {
  color: #4D4D4D !important;
}
.heading h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.description h4 {
  font-weight: bold;
}
